body {
    background-image: url("background.jpg");
    background-size: cover;
}

#whois {
    display: flex;
    flex-direction: column;
    align-self: flex-end;

    font-family: Courier New, Courier, monospace;
    font-size: 45px;
    font-style: bold;
    color: white;
}

#whois_container {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    margin-right: 40px;
}

#date {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-style: bold;
    color: white;

}

#form_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 45px;
  margin-top: 20%;
}

form {
  width: 450px;
}


.header {
  font-size: 23px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.input {
  display: flex;
  align-items: center;
}


.button {
  height: 44px;
  border: none;
}

  
#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


#submit {
  width: 25%;
  height: 46px;
  background:  rosybrown;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit:hover {
  background: sandybrown;
}
  

input:focus {
  outline: none;
  outline: 2px solid bisque;
  box-shadow: 0 0 2px bisque;
}